<template>
    <div class="app-container">

        <div class="filter-container">
            <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" placeholder="keyword"
                      v-model="listQuery.name">
            </el-input>

            <el-select @change='handleFilter' style="width: 140px" class="filter-item" v-model="listQuery.sort">
                <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key">
                </el-option>
            </el-select>
            <el-select @change='handleFilter' style="width: 140px" class="filter-item" v-model="listQuery.status">
                <el-option v-for="item in statusOptions" :key="item" :label="item" :value="item">
                </el-option>
            </el-select>
            <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">Search
            </el-button>
            <el-button class="filter-item" style="margin-left: 10px;" @click="handleCreate" type="primary"
                       icon="el-icon-edit">Create
            </el-button>

            <el-button class="filter-item" style="margin-left: 10px;" @click="reload" type="info"
            >Reload
            </el-button>
        </div>


        <el-table :data="list" v-loading.body="listLoading" element-loading-text="Loading" border fit
                  highlight-current-row style="width: 100%;margin-top: 10px;margin-bottom: 10px">
            <el-table-column align="center" label='ID' width="95">
                <template slot-scope="scope">
                    {{scope.$index + 1}}
                </template>
            </el-table-column>
            <el-table-column label="Name">
                <template slot-scope="scope">
                    {{scope.row.name}}
                </template>
            </el-table-column>
            <el-table-column label="Type" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.type}}</span>
                </template>
            </el-table-column>

            <el-table-column label="Win" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.win}}</span>
                </template>
            </el-table-column>


            <el-table-column label="Lose" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.lose}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Time Remain" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.time}}</span>
                </template>
            </el-table-column>

            <el-table-column label="Score " align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.score}}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Action" width="250" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button :type="scope.row.active | statusFilter1" @click="handleStatus(scope.row)" size="mini">
                        {{scope.row.active  | statusFilter}}
                    </el-button>

                    <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">Edit</el-button>

                    <el-button size="mini" type="danger"
                               @click="handleDelete(scope.row)">Delete
                    </el-button>
                </template>
            </el-table-column>

        </el-table>

        <div class="pagination-container">
            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page="listQuery.page" :page-sizes="[50,100,150, 200]" :page-size="listQuery.limit"
                           layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>

        <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
            <el-form :rules="rules" ref="dataForm" :model="temp" label-position="left" label-width="100px"
                     style='width: 400px; margin-left:50px;'>

                <el-form-item label="Name" prop="name">
                    <el-input v-model="temp.name"></el-input>
                </el-form-item>
                <el-form-item label="Type" prop="type">

                <el-select v-model="temp.type" placeholder="Select">
                    <el-option

                            label="School"
                            value="school">
                    </el-option>


                    <el-option

                            label="College"
                            value="college">
                    </el-option>
                </el-select>
                </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">Cancel</el-button>
                <el-button v-if="dialogStatus=='create'" type="primary" @click="createData">Confirm</el-button>
                <el-button v-else type="primary" @click="updateData">Confirm</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>

    import waves from '../../directive/waves/index.js'

    export default {
        directives: {
            waves
        },
        data() {


            return {
                total: null,
                list: null,
                roles: null,
                listLoading: true,
                listQuery: {
                    page: 1,
                    limit: 50,
                    status: undefined,
                    name: undefined,
                    type: undefined,
                    sort: 'desc'
                },
                sortOptions: [{label: 'Ascending', key: 'asc'}, {label: 'Descending', key: 'desc'}],
                statusOptions: ['active', 'inactive'],
                dialogFormVisible: false,
                dialogStatus: '',
                textMap: {
                    update: 'Edit',
                    create: 'Create'
                },

                temp: {
                    id: undefined,
                    name: '',
                    type: ''

                },
                rules: {
                    name: [{required: true, message: 'name is required', trigger: 'change'}],
                    type: [{required: true, message: 'type is required', trigger: 'change'}],

                }


            }
        },
        filters: {
            statusFilter(status) {
                const statusMap = {
                    active: 'success',
                    inactive: 'gray',
                    true: 'success',
                    false: 'gray',
                    1: 'active',
                    0: 'inactive',
                }
                return statusMap[status]
            },
            statusFilter1(status) {
                const statusMap = {
                    1: 'success',
                    0: 'gray',
                }
                return statusMap[status]
            }
        },
        created() {
            this.getList()
        },
        methods: {
            getList() {
                this.listLoading = true
                this.$axios.get("/team", {params: this.listQuery}).then(response => {
                    console.log(response.data)
                    this.list = response.data.data;
                    this.total = response.data.meta.total;

                    setTimeout(() => {
                        this.listLoading = false
                    }, 1.5 * 1000)
                })
            },
            reload() {
                this.listQuery = {
                    page: 1,
                    limit: 50,
                    status: undefined,
                    name: undefined,
                    type: undefined,
                    sort: 'desc'
                };
                this.getList()
            },
            createData() {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        this.$axios.post("/team/", this.temp).then(response => {
                            this.list.unshift(response.data.data)
                            this.dialogFormVisible = false
                            this.$message({
                                type: 'success',
                                message: 'Team Creation completed'
                            });
                        })
                    }
                })
            },
            updateData() {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        this.temp["_method"] = "put";
                        this.$axios.post("/team/" + this.temp.id, this.temp).then(response => {
                            for (const v of this.list) {
                                if (v.id === this.temp.id) {
                                    const index = this.list.indexOf(v)
                                    this.list.splice(index, 1, response.data.data)
                                    break
                                }
                            }
                            this.dialogFormVisible = false
                            this.$message({
                                type: 'success',
                                message: 'Team update completed'
                            });
                        })
                    }
                })
            },
            resetTemp() {
                this.temp = {
                    id: undefined,
                    name: '',
                    type: ''

                }
            },
            handleFilter() {
                this.listQuery.page = 1
                this.getList()
            },
            handleDelete(row) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.$axios.delete("/team/" + row.id).then(response => {
                        const index = this.list.indexOf(row)
                        this.list.splice(index, 1)
                        this.$message({
                            type: 'success',
                            message: 'Delete completed'
                        });
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled'
                    });
                });


            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },

            handleModifyStatus(row, status) {
                this.$message({
                    message: 'Success',
                    type: 'success'
                })
                row.status = status
            },
            handleCreate() {
                this.resetTemp()
                this.dialogStatus = 'create'
                this.dialogFormVisible = true
                this.$nextTick(() => {
                    this.$refs['dataForm'].clearValidate()
                })
            },
            handleUpdate(row) {
                this.temp = Object.assign({}, row)
                this.dialogStatus = 'update'
                this.dialogFormVisible = true
                this.$nextTick(() => {
                    this.$refs['dataForm'].clearValidate()
                })
            },
            handleStatus(row) {
                this.temp = Object.assign({}, row)
                this.temp["_method"] = "put";
                this.temp.active = 1;
                this.$axios.post("/team/active/" + this.temp.id, this.temp).then(response => {
                    for (const v of this.list) {
                        if (v.id === this.temp.id) {
                            const index = this.list.indexOf(v)
                            this.list.splice(index, 1, response.data.data)
                            break
                        }
                    }
                    this.dialogFormVisible = false
                    this.$message({
                        type: 'success',
                        message: 'Team update completed'
                    });
                })
            },


        }
    }
</script>
