<template>
    <div>
        <img class="center-img" :src="logo.wro" width="80px" height="150px">

        <div style="text-align: center" class="center"><h1 v-if="game">{{game.name}}</h1></div>
        <div class="container" style="margin-top: 10px">
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3">
                   <h3>GAIN</h3>
                    <div style="width: 100px ; height: 100px;background-color: green;float: left;text-align: center;
    vertical-align: middle;
    line-height: 100px;font-size: 50px;
    color: white;">
                        <countTo :startVal='0' :endVal='win' :duration='2000'
                        ></countTo>
                    </div>
                </div>
                <div class="col-lg-2">

                </div>
                <div class="col-lg-3">
                    <h3>LOSS</h3>
                    <div style="width: 100px ; height: 100px;background-color: red;float: left;text-align: center;
    vertical-align: middle;
    line-height: 100px;font-size: 50px;
    color: white;">

                        <countTo :startVal='0' :endVal='loss' :duration='2000'
                        ></countTo>
                    </div>

                </div>
                <div class="col-lg-2">

                </div>
            </div>
        </div>



        <div class="fixed-bottom" style="width: 200px;background-color: #0b2e13">
            <span style="background-color: #0b2e13">
            <el-input-number v-model="gain" style="background-color: #0b2e13"></el-input-number>
            <el-button @click="gainadd">+</el-button><el-button  @click="gainsub">-</el-button>
            </span> </div>
        <div class="fixed-bottom" style="width: 200px;margin-left: 85%;background-color: red"><span>
            <el-input-number v-model="lose"></el-input-number>
            <el-button @click="lossadd">+</el-button><el-button @click="losssub">-</el-button>  </span>

        </div>

        <div class="container" style="    margin-left: 45%;
    margin-top: 20px;
    font-size: 30px;">
            <countTo ref="timer" :startVal='time' :endVal='0' :duration='duration' :useEasing="false"
                     :autoplay=false></countTo>
            Sec
        </div>
        <div class="container"><h2>TOTAL POINT : {{total}}</h2></div>
        <div style=" margin: auto;
        width: 300px;
        padding: 10px;">
            <div class="btn btn-success" @click="start">Start</div>
            <div class="btn btn-info" @click="pause">Pause</div>
            <div class="btn btn-dark" @click="resume">Resume</div>
        </div>
    </div>

</template>

<script>
    import countTo from 'vue-count-to';

    export default {

        components: {
            countTo
        },
        data() {
            return {
                slide: null,
                arrivalQuery: {
                    limit: 4,
                    sort: 'desc'
                },
                logo: {
                    'wro': 'https://image.ibb.co/cwMeRe/WRO_Nepal_Logo.jpg'
                },
                game:null,
                win: 0,
                loss: 0,
                total: 0,
                gain:0,
                lose:0,
                time: 0,
                duration : 0



            }
        }
        ,
        created() {
            this.$axios.get("/currentteam").then(response => {
                console.log(response.data)
                this.game = response.data;
                if(this.game.type === 'school'){
                    this.time = 2000;
                    this.duration = 2000000;
                }else{
                    this.time = 3000;
                    this.duration = 3000000;
                }
            })

        },

        computed: {},
        methods: {

            start() {
                this.$refs.timer.start();
            }
            ,
            pause() {
                this.$refs.timer.pause();
                this.total = parseInt(this.win) - parseInt(this.loss) + parseInt(this.$refs.timer.printVal)
                this.$axios.post("/team/"+this.game.id, {'win':this.win ,'lose':this.lose ,'score':this.total , 'time':parseInt(this.$refs.timer.printVal) ,'_method':'put' }).then(response => {

                })
            },
            resume() {
                this.$refs.timer.pauseResume();
            },
            gainadd(){
                this.win = this.win + this.gain
                this.gain = 0
            },
            gainsub(){
                this.win = this.win - this.gain
                this.gain = 0

            },
            lossadd(){
                this.loss = this.loss + this.lose
                this.lose = 0

            },
            losssub(){
                this.loss = this.loss - this.lose
                this.lose = 0


            },


        },
        filters: {}
    }

</script>
<style>
    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    h1 {
        color: yellow;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 27px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
        background-color: black;
        padding: 10px
    }

    h2 {
        color: green;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 27px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
        padding: 10px
    }

</style>